/*
|-----------------------------------------------------------------------------
| Colors
|-----------------------------------------------------------------------------
|
| Pallette Colors
|
*/

$black: #000000;
$white: #ffffff;
$purple: #ff4ecd;
$cyan: #88ffea;
$blue: #1a75ff;
